{% extends "base.html" %}

{% block content %}
<h3>Hello!!! This is a Django Hello World Project.</h3>
<p>
{% if request.user.is_authenticated %}
hello, {{user.first_name.value}}. <a href="{% url hello.views.my_logout %}?next={% url hello.views.view_edit %}">Logout</a>
{% else %}
<a href="{% url django.contrib.auth.views.login %}?next={% url hello.views.view_edit %}">Login</a>

 {%endif%}
</p>
<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}

<table border=1><tr>
    <!-- left fields -->
    <td>
    <table >
        <tr><td> {{ user.first_name }} </td></tr>
        <tr><td> {{ user.last_name }} </td></tr>
        <tr><td> {{ profile.date_birth }} </td></tr>
        <tr><td> Photo:<br/>
            {% if current_image %}
                <img src="{{ MEDIA_URL }}{{ current_image }}"/> <br/>
             {%endif%}
            {% if request.user.is_authenticated %}
                {{ profile.image }} 
             {%endif%}
            </td></tr>
    </table>

    </td>
    <!-- left fields -->
    <td valign=top>
    <table >
        <tr><td> Contacts </td></tr>
        <tr><td> Email: {{ user.email }} </td></tr>
        <tr><td> Jabber: {{ profile.jabber }} </td></tr>
        <tr><td> Skype: {{ profile.skype }} </td></tr>
        <tr><td> Other Contacts:<br/> {{ profile.other_contacts }} </td></tr>
        <tr><td> Bio:<br/> {{ profile.bio }} </td></tr>
    </table>
    </td>
</tr></table>
<input type="submit" value="Save" />
</form>

{% endblock content %}


