{% extends "base.html" %}

{% block content %}
<h3>Hello!!! This is a Django Hello World Project.</h3>
<p>
{% if request.user.is_authenticated %}
hello, {{form_user.first_name.value}}. <a href="/admin/logout">Logout</a>
{% else %}
<a href="/admin/login">Login</a>
 {%endif%}
</p>
<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}

<table border=1><tr>
    <!-- left fields -->
    <td>
    <table >
        <tr><td> {{ form_user.first_name }} </td></tr>
        <tr><td> {{ form_user.last_name }} </td></tr>
        <tr><td> {{ form_profile.date_birth }} </td></tr>
        <tr><td> Photo:<br/>
            {% if current_image %}
                <img src="{{ MEDIA_URL }}{{ current_image }}"/> <br/>
             {%endif%}
            {% if request.user.is_authenticated %}
                {{ form_profile.image }} 
             {%endif%}
            </td></tr>
    </table>

    </td>
    <!-- left fields -->
    <td valign=top>
    <table >
        <tr><td> Contacts </td></tr>
        <tr><td> Email: {{ form_user.email }} </td></tr>
        <tr><td> Jabber: {{ form_profile.jabber }} </td></tr>
        <tr><td> Skype: {{ form_profile.skype }} </td></tr>
        <tr><td> Other Contacts:<br/> {{ form_profile.other_contacts }} </td></tr>
        <tr><td> Bio:<br/> {{ form_profile.bio }} </td></tr>
    </table>
    </td>
</tr></table>
<input type="submit" value="Save" />
</form>

{% endblock content %}


